.center {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.item {
    width: 30%;
    display:table-cell;
    height: 200px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}